<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DBCS"
         connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=.\App_Data\tenantDB.accdb;Persist Security Info=True" />
  </connectionStrings>
  <appSettings>
    <add key="con" value="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\Projects\Final Year\tenant.com\App_Data\tenantDB.mdf;Integrated Security=True;User Instance=True"/>
  </appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
